$jellygreen: #01c3a7;
$darkgrey: #616d71;
$lightgrey: #c0c7ce;

body {
	font-family: Helvetica;
	color: $darkgrey;
}

//Styles for Main component

.title {
	background: $jellygreen;
	color: #FFF;
	padding: 1em 0.5em;
	width: 6em;
	text-align: center;
  margin: 1em auto 0 auto;
}

.signature {
	color: $jellygreen;
	opacity: 0.6;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

.input-form {
	text-align: center;
	margin: 3em 0;
}

input {
	color: $darkgrey;
	// background: $lightgrey;
	border-radius: 5px 0 0 5px;
	width: 10em;
	font-size: 1.30em;
	outline: none;
	padding: 0.2em;
}

submit {
  background: $jellygreen;
  border-radius: 0 5px 5px 0;
  border: $jellygreen 3px solid;
  color: #FFF;
  font-size: 1.30em;
  padding: 0.2em;
}

//Styles for Answer component

.answer-div {
	margin: 3em auto 0 auto;
	align: center;
	border-top: $jellygreen 3px solid;
	width: 50em;
	.left-q {
	  width: 50%;
	  float: left;
	  h4 {
	  	text-align: center;
	  }
  }
  .right-q {
	  width: 50%;
	  float: right;
	  h4 {
	  	text-align: center;
	  }
  }
}


//Styles for dropdown
.drop-down {
  text-align: center;
  list-style: none;
  font-size: 1.30em;
  color: $darkgrey;
  text-decoration: none;
}

//Styles for snippet & continued
.snippet {
	padding-right: 0.4em;
	word-wrap: break-word; 
	margin-bottom: 1em;
}

.continued {
	padding-left: 0.4em;
	word-wrap: break-word; 
	margin-bottom: 1em;
}
