$residegrey: #656e70;
$white: #fff;

body {
	font-family: Helvetica;
	color: $residegrey;
}

//Styles for Main
.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.home-body {
	background-image: url("../images/bernal.jpg");
	background-size: cover;
	color: $white;
	width: "100%";
	height: 600px;
	padding: 0px;
	align-items: center;
	justify-content: center;

	.home-details {
		height: 300px;
		width: 50%;
		background: $white;
		color: $residegrey;
		padding: 25px;
		border-radius: 4px;
		align-items: center;
		justify-content: center;

		.home-title {
			font-size: 36px;
			padding-bottom: 25px;
		}

		#member-id-form:focus {
			outline: 0;
		}
	}
}

.title {
	color: $residegrey;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
}

.signature {
	padding-left: 10px;
}

.listing-map {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}

// Styles for Listing
.all-listings {
	align-items: center;
	justify-content: center;

	.all-listings-info {
		align-self: flex-start;
		padding-left: 10px;

		.buttons {
			border: solid 1px $residegrey;
			cursor: pointer;
			padding: 5px;
			margin-left: 10px;
			border-radius: 4px;
			text-transform: uppercase;
		}
	}
}

.listing-root {
	height: 200px;
	width: 80%;
	padding: 10px;
	margin: 10px;
	align-items: center;
	justify-content: center;
	color: rgba(101, 110, 112, 0.8);

	.listing-inner {
		background: rgba(255, 255, 255, 0.8);
		height: 100%;
		width: 100%;

		.address {
			font-size: 20px;
			font-weight: bold;
			width: 33%;
			border-right: solid 1px $white;
			padding: 5px;
			justify-content: space-between;

			.maps-icon {
				height: 50px;
				width: 50px;
				opacity: 0.7;
			}
		}

		.details {
			width: 62%;
			padding: 5px;
		}

		.star {
			color: $white;
			font-size: 36px;
			cursor: pointer;
			height: 36px;
		}
	}
}
